:root {
  --black-main: #28272D;
  --light-grey: #D7D7D9;
  --dark-grey: #7F7E82;
  --regular-grey: #A7A7AA;
  --regular-white: #fff;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: var(--light-grey);
  text-decoration: none;
}

a:hover {
  color: var(--regular-grey);
}

html,
body {
  background-color: var(--regular-white);
  font-family: 'Encode Sans Semi Condensed', sans-serif; 
  color: var(--light-grey);

  height: 100%;
  margin: 0;
}

#body-wrapper {
  display: flex;
  flex-direction: column;

  min-height: 100%;

  background-color: var(--light-grey);
}



/* **Styles for header */

header {
  background-color: var(--black-main);
  /* box-shadow: ; */
  white-space: nowrap;

  padding-top: 15px;
  padding-bottom: 15px;

  
  box-shadow: 0px 11px 7px rgba(0, 0, 0, 0.36);
}

#header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  text-transform: uppercase;
}

.header-left-half {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 25px;
  padding-right: 25px;
}

.header-nav-logo {
  font-size: 24px;
}

.header-right-half {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header-nav-item {
  padding: 10px 15px;
  margin-left: 5px;
}



/* **Styles for main */
.main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}



/* **Styles for footer */

footer {
  background-color: var(--black-main);
}

#footer-wrapper {
  display: flex;
  flex-direction: row;

  max-width: 1200px; 
  margin-left: auto;
  margin-right: auto;
  
  height: 50px;

  justify-content: space-around;

  padding: 20px 20px;
}

#github-logo {
  max-width: 25px;
}