:root {
  --black-main: #28272D;
  --light-grey: #D7D7D9;
  --dark-grey: #7F7E82;
  --regular-grey: #A7A7AA;
  --regular-white: #fff;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: var(--light-grey);
  text-decoration: none;
}

html,
body {
  background-color: var(--regular-white);
  font-family: 'Encode Sans Semi Condensed', sans-serif; 
  color: var(--light-grey);

  height: 100%;
  margin: 0;
}

#body-wrapper {
  display: flex;
  flex-direction: column;

  min-height: 100%;

  background-color: var(--light-grey);
}



/* **Styles for header */

header {
  background-color: var(--black-main);
  /* box-shadow: ; */
  white-space: nowrap;

  padding-top: 15px;
  padding-bottom: 15px;

}

#header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  text-transform: uppercase;
}

.header-left-half {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 25px;
  padding-right: 25px;
}

.header-nav-logo {
  font-size: 24px;
}

.header-right-half {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header-nav-item {
  padding: 10px 15px;
  margin-left: 5px;
}



/* **Styles for main */

.main {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;

  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.products-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;

  padding-top: 30px;
}

.product-item {
    display: flex;
    flex-direction: column;
    justify-content: end;

    height: 300px;
    width: 265px;
    margin: 0 50px 50px;

    border: 1px solid var(--black-main);
    color: var(--black-main);
}

.product-image {
  height: 235px;
  width: 265px;
}

.image {
  height: 288px;
  width:  265px;
}

.product-description {
  display: flex;
  flex-direction: column;
  background-color: var(--black-main);
  color: var(--light-grey);

  height: 65px;

  border-top: 1px solid var(--light-grey);
  cursor: pointer;
}

.product-description:hover {
  background-color: var(--light-grey);
  color: var(--black-main);
  border-top: 1px solid var(--black-main);
}

.product-description-name {
  padding-top: 10px;
  text-align: center;
}

.product-description-price {
  padding-top: 5px;
  text-align: center;
}



/* ** Styles for hamburger */
#checkbox_toggle {
  display: none;
}

/* styles for hamburger menu */
.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.hamburgerLine {
  display: block;
  background-color: #F1F2F1;
  height: 2px;
  position: relative;
  width: 24px;
}

.hamburgerLine::before,
.hamburgerLine::after {
  background-color: #F1F2F1;
  content: "";
  display: block;
  position: absolute;
  transition: all .3s;
  width: 100%;
  height: 100%;
}

.hamburgerLine::before {
  top: 7px;
}

.hamburgerLine::after {
  top: -7px;
}



/* **Styles for footer */

footer {
  background-color: var(--black-main);
}

#footer-wrapper {
  display: flex;
  flex-direction: row;

  max-width: 1200px; 
  margin-left: auto;
  margin-right: auto;
  
  height: 50px;
}